:root {
    --navbar: #d5def5;
    --bg-color: #8594e4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: var(--bg-color);
}


header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--navbar);
}

.navbar {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
}

.icona-menu {
    width: 30px;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}


nav .logo {
    width: 80px;
    height: 80px;
}

.navbar li {
    display: inline-block;
    vertical-align: middle;
    
    
}

.menu-border {
    border: 1px solid blue;
    border-radius: 15%;
    
}

.menu-border:hover {
    background-color: #6643b5;
}

.nav-list li a {
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 0 10px;
}

.nav-list li a:hover {
    color: #fff;
    font-size: 1.1rem;
}

.titolo {
    text-transform: uppercase;
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(10, 10, 143);
    font-size: 4rem;
}

span {
    color: #c50000;
}

.banner {
    text-align: center;
    background-color: rgb(232, 187, 241);
    margin-top: 95px;
    padding: 10px 0;
}

h2, p {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 180px;
    height: 355px;
    border: 1px solid rgb(211, 207, 207);
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    margin: 10px;
}

.card img {
    width: 180px;
}

.card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 25%;
}

.card h2 {
    font-size: 1.2rem;
    text-align: center;
    margin: 0;

}

.card p {
    font-size: .9rem;
    color: #3b3b3baa;
    text-align: center;
    margin: 0;
}

.card button {
    background-color: #132dc2;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(22, 112, 49);
    cursor: pointer;
}


footer {
    background-color: rgb(211, 210, 210);
    margin-top: 20px;
    text-align: center;
    padding: 30px 0;
}

@media (max-width: 450px) {
    .nav-list {
        display: none;
    }


    .mobile-menu-icon {
        display: block;
        cursor: pointer;
    }



    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1.2rem;
    }

    .mobile-menu .nav-item {
        display: block;
        margin-bottom: 10px;
        padding: 5px;
        width: 120px;
    }

    


    .open {
        display: flex;
        justify-content: center;
    }
}