body {
    margin: 0;
    padding: 0;
}

a { 
    text-decoration: none;
}


ul {
    display: inline-block;
    list-style-type: none;
    
    

}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    
}

.icona {
    width: 30px;
    height: 30px;
}

.navbar li {
    display: inline-block;
    vertical-align: middle;
    
    
}

.menu-border {
    border: 1px solid blue;
    border-radius: 15%;
    
}

.menu-border:hover {
    background-color: rgb(103, 186, 224);
}

.navbar a {
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 0 10px;
}

.logo {
    height: 100px;
    width: 100px;
    /* filter: drop-shadow(1px 1px 1px black); */
}

.titolo {
    text-transform: uppercase;
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(10, 10, 143);
}

.banner {
    text-align: center;
    background-color: rgb(232, 187, 241);
    margin-top: 95px;
    padding: 10px 0;
}

h2, p {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 180px;
    height: 355px;
    border: 1px solid rgb(211, 207, 207);
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    margin: 10px;
}

.card img {
    width: 180px;
}

.card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 25%;
}

.card h2 {
    font-size: 1.2rem;
    text-align: center;
    margin: 0;

}

.card p {
    font-size: .9rem;
    color: #3b3b3baa;
    text-align: center;
    margin: 0;
}

.card button {
    background-color: #132dc2;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(22, 112, 49);
    cursor: pointer;
}


footer {
    background-color: rgb(211, 210, 210);
    height: 60px;
    text-align: center;
}